// Unity
.idea/
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Temp/
obj/
Library/
Builds/

// Generated code
Assets/Scripts/Constants/Scenes.cs
Assets/Scripts/Constants/Scenes.cs.meta
Assets/Scripts/Constants/SFX.cs
Assets/Scripts/Constants/SFX.cs.meta
Assets/Scripts/Constants/Songs.cs
Assets/Scripts/Constants/Songs.cs.meta
Assets/Scripts/Constants/Tags.cs
Assets/Scripts/Constants/Tags.cs.meta

// FMOD
Assets/FMODStudioCache.asset
Assets/StreamingAssets/*.bank
fmod.log
fmod_editor.log
